*{
  margin:0%;
  padding:0%;
  box-sizing:border-box;
}
body {
    height: 100vh;
    display:center;
    place-items: center;
    background-size: cover;
    background-position: center;
  }
.myDiv {
  border: 5px outset rgb(127, 153, 80);
  background-color: lightblue;    
  text-align: center;
  margin-left: auto;
  
}
 
form,
input,
textarea,
button{
  background: rgb(11, 12, 22);
  box-shadow: 0 4px 10px 0 grey;
  backdrop-filter: blur(6px);
  border-radius: 5px;
  color: whitesmoke;
  padding:30px;
  margin-left:10px; 
  }
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

*{
  margin:0%;
  padding:2%;
  box-sizing: border-box
}

ul{
  display:inline;
  background-color:rgb(124, 37, 25);
  left:0;
  right:0;
  position: fixed;
  font-size: 20px;
  top: 0;
}
li{
  display: inline;
}
a{
  padding:10px;
  color:whitesmoke;
  text-decoration:none;
  font-family: sans-serif;
}

iframe{
  margin-left: 460px;
  margin-top: 15px;
  width: auto;
}
table{
  margin-left: 460px;
  width: 500px;

  

}
.img{
  clip-path:circle();
  border-radius: 700%;
  position:absolute; right: 980px;
  height: 300px;
  
  

}